.locationDialog  {
    aspect-ratio: 16/12;
    height: 18rem;
    background-color: white;
    border-radius: 2%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.heading {
    height: 20%;
    width: 100%;
    padding: 0.6rem 1rem;

    background: transparent;
    box-sizing: border-box;
    border-bottom: 2px solid gainsboro;

    display: flex;
    align-items: center;

    color: rgb(84, 194, 238);
    font-weight: 600;
    font-size: 1rem;
    font-family: "poppins";
}

.locationInput {
    background: transparent;
    width: 75%;
    border: 2px solid gainsboro;
    height: 2rem;
    font-family: "poppins";
    margin-top: 1.2rem;
    margin-bottom: 0.5rem;
    padding: 0.5rem 1rem;
}

.locationInput:placeholder-shown {
    text-align: center;
    color: gainsboro;
    font-size: 0.9rem;
}

.locationInput:focus {
    border: 2px solid gainsboro;
    outline: none;
    color: grey
}

.break {
    background: transparent;
    color: grey;
    margin-bottom: 0.5rem;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.break div {
    height: 2px;
    width: 40%;
    margin: 0 0.8rem;
    background-color: gainsboro;
}

.getLocationBtn, .submitBtn {
    border: none;
    border-radius: 5px;
    background-color: #0CAFFF;
    width: 85%;
    color: white;
    padding: 0.5rem 0;
    font-family: "poppins";
    font-size: 0.9rem;

    display: flex;
    justify-content: center;
}

.submitBtn:disabled, .getLocationBtn:disabled {
    background-color: lightgray;
}

.submitBtnContainer {
    width: 100%;
    background: transparent;
    text-align: center;
    border-top: 2px solid gainsboro;
    padding: 0.8rem 0;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader {
    border: 0.2rem solid #f3f3f3;
    border-radius: 50%;
    border-top: 0.2rem solid gray;
    width: 0.95rem;
    height: 0.95rem;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
    background: transparent;
  }

  .custom-toast {
    color: white;
    background-color: gray;
    padding: 1rem 2rem;
    border-radius: 20px;
    background: transparent;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }